{% extends "base.html" %}
{% block content %}
<h1>Exercise List</h1>
<table border="1">
    <thead>
        <tr>
            <th>Exercise Name</th>
            <th>Muscles</th>
            <th>Machines</th>
        </tr>
    </thead>
    <tbody>
        {% for exercise in exercises %}
            <tr>
                <td>{{ exercise.exercise_name }}</td>
                <td>
                    <ul class="muscle-groups">
                        {% for muscle in exercise.muscles.all %}
                            <li>{{ muscle.name }} ({{ muscle.group.name }})</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul class="machines">
                        {% for machine in exercise.machines.all %}
                            <li>{{ machine.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}