{% extends "base.html" %}
{% include "group.html" %} 
{% block content %}
<h1>Exercise Details</h1>
<table>
    <thead>
        <tr>
            <th>Exercise Name</th>
            <th>Muscle</th>
            <th>Muscle Group</th>
            <th>Machine</th>
        </tr>
    </thead>
    <tbody>
        {% if exercise.muscles.all %}
            {% for muscle in exercise.muscles.all %}
                <tr>
                    {% if forloop.first %}
                        <td rowspan="{{ exercise.muscles.count }}">{{ exercise.exercise_name }}</td>
                    {% endif %}
                    <td>{{ muscle.name }}</td>
                    <td>{{ muscle.group.name }}</td>
                    <td>
                        {% for machine in exercise.machines.all %}
                            {{ machine.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>{{ exercise.exercise_name }}</td>
                <td>No muscles</td>
                <td>No muscle group</td>
                <td>
                    {% for machine in exercise.machines.all %}
                        {{ machine.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
<table>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
        {% for key, value in details.items %}
            {% if forloop.counter > 1%}
            <tr>
                <td>{{ key|title }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
<h3>Add or Edit Current Lift Information</h3>
<form class="inputed-data" method="post">
    {% csrf_token %}
    
    <div class="current-lifts">
        <label class="form-label" for="id_weight">Weight:</label>
        <input type="text" id="id_weight" name="weight" placeholder="In kg (no units needed)" value="{{ current.weight }}" required>
        <label class="form-label" for="id_weight">Reps:</label>
        <input type="text" id="id_reps" name="reps" placeholder="F/S/JF8 (failed/scrapped/justfailed 8th)" value="{{ current.reps }}" required>
    </div>
    <div>
        <button class ="submit-button" type="submit">Save Current Lift</button>

</form>

{% endblock %}