{% extends "base.html" %}
{% block content %}
<h1>Input Exercise Details</h1>
{% include "group.html" %} 
<form class="inputed-data" method="post">
    {% csrf_token %}
    <div class="exercise-choices">
         <label class="form-label" for="{{ form.exercise_name.id_for_label }}">Exercise name:</label>
            {{ form.exercise_name }}
        {{ machine_form.as_p }}
        {{ muscle_form.as_p }}
    </div>
    <div class="new-exercise">
        <label class="form-label" for="id_weight">Intensity:</label>
        <div id="bootstrap-overrides" class="{% if detail.errors.intensity %}error{% endif %}">
            {{ detail.intensity }}
            {% if detail.errors.intensity %}
                <ul id="bootstrap-overrides" class="errorlist">
                    <li>{{detail.errors.intensity}}</li>
                </ul>
            {% endif %}
        </div>
        <label class="form-label" for="id_weight">Tips:</label>
        {{detail.tips}}
        <label class="form-label" for="id_weight">Optimum:</label>
        <div id="bootstrap-overrides" class="{% if detail.errors.optimum %}error{% endif %}">
            {{detail.optimum}}
            {% if detail.errors.optimum %}
                <ul id="bootstrap-overrides" class="errorlist">
                    <li>{{detail.errors.optimum}}</li>
                </ul>
            {% endif %}
        <label class="form-label" for="id_weight">Link:</label>
        {{detail.link}}
    </div>
    <button class ="submit-button" type="submit">Create Exercise</button>
</form>
{% endblock %}