{% load custom_filters %}
<table border="1">
    <thead>
        <tr>
            <th>Group Muscles</th>
            {% for group, group_muscles in grouped_muscles.items %}
                <th>{{ group }}</th>
            {% endfor %}
        </tr>
        <tr>
            <td>Sub muscle</td>
            {% for group, group_muscles in grouped_muscles.items %}
                
                    <td>{{ group_muscles.all|join:", " }}</td>
            {% endfor %}
        </tr>
    </thead>
</table>